.container.france {
  padding-left: 1rem;
}
.explore-header {
  margin-top: 1rem;
}
.explore-header h2 {
  text-align: center;
}
#topic {
  font-size: 16px;
  text-align: center;
  margin-left: 2rem;
}
.france-img {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.france-img h5,
.france-img h3 {
  margin: 0;
}
.france-img h2 {
  margin-bottom: 10px;
}
.include {
  display: flex;
  gap: 10px;
  align-items: start;
}
.dot {
  width: 20px;
  height: 20px;
}
.france-img p {
  font-size: 16px;
  color: #281f1f;
}
.green-check {
  color: green;
  width: 20px;
  height: 20px;
}
.grid-pix {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  gap: 5px;
  grid-template-rows: repeat(2, 225px);
  object-fit: cover;
}
.view {
  position: relative;
}
#show {
  position: absolute;
  bottom: 50%;
  right: 10%;
  color: #fff;
}
.film {
  position: absolute;
  bottom: 50%;
  left: 20%;
  color: #fff;
}
.france-pix {
  height: 455px;
  width: 60%;
  margin-bottom: 1rem;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  animation: zoom 0.6s ease-in-out;
}
.main-pix {
  display: block;
  gap: 5px;
  cursor: pointer;
  display: flex;
}
.mobile-main {
  display: none;
}
.france-thumb {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.view img {
  filter: contrast(60%);
  border-bottom-right-radius: 5px;
}
.grid-pix img:nth-of-type(2) {
  border-top-right-radius: 5px;
}
.tour-info {
  display: flex;
}
.tour-info__left {
  width: 100%;
}
.ticket-info {
  width: 70%;
}
.ticket-info h3,
.ticket-info h4 {
  padding-left: 1rem;
  margin: 10px;
}
.plan-btn.calender {
  border: none;
  margin-left: 1rem;
  font-size: 14px;
  padding: 0.5em;
  color: rgb(130, 130, 250);
  background: transparent;
  width: 30%;
}
.plan-btn.calender:hover {
  border: none;
  background: rgb(212, 212, 245);
}
@media (max-width: 760px) {
  .container.france {
    padding-left: 0;
    max-width: 750px;
  }
  .main-pix {
    display: none;
  }
  .explore-header {
    display: none;
  }
  .mobile-explore-header {
    padding-inline: 25px;
    margin-top: 4rem;
  }
  .mobile-explore-header h2 {
    text-align: center;
  }
  .mobile-main {
    display: block;
    position: relative;
    animation: zoom 0.6s ease-in-out;
  }
  #topic {
    margin-left: 0;
  }
  .nexxt {
    position: absolute;
    top: 60%;
    width: 30px;
    height: 30px;
    right: 0;
  }
  .prevv {
    position: absolute;
    top: 60%;
    width: 30px;
    height: 30px;
    left: 0;
  }
  .france-pix {
    height: 350px;
    width: 100%;
  }
  .tour-info {
    flex-direction: column;
    padding: 10px 25px;
  }
  .tour-info__left {
    width: 100%;
  }
}
@media (min-width: 760px) and (max-width: 1024px) {
  .tour-info {
    flex-direction: column;
    padding: 10px;
  }
  .main-pix {
    display: none;
  }
  .explore-header {
    display: none;
  }
  .mobile-explore-header {
    padding-inline: 10px;
    margin-top: 1rem;
  }
  .mobile-main {
    display: block;
    position: relative;
  }
  .france-pix {
    height: 450px;
    width: 100%;
  }
  .nexxt {
    position: absolute;
    top: 50%;
    width: 35px;
    height: 35px;
    right: 0;
    cursor: pointer;
  }
  .prevv {
    position: absolute;
    top: 50%;
    width: 35px;
    height: 35px;
    left: 0;
    cursor: pointer;
  }
  .prevv:hover,
  .nexxt:hover {
    color: rgb(130, 130, 250);
  }
}
